{% extends 'base2.html' %}

<!-- title -->
{% block title %}
고양이를 담다
{% endblock title %}

{% block content %}
<div class="container" style="font-family: 'Noto Sans KR', sans-serif; font-weight: 300;">

    <div class="row text-center" style="padding-top: 200px;">
        <span style="font-family: 'Black Han Sans', sans-serif; font-size: 60px">{{region}}<i class="fas fa-cat"></i></span>
        <div>
            <hr class="mt-5 mb-5">
        </div>

    </div>


    <div class="row d-flex mb-2">
            <div class="col-md-1 p-2 me-auto">
                <!--<form method ="get" action ="{% url 'catlist' %}">
                    <input type = "hidden" id = "page" name = "page" value = "{{ page }}">
                    <input type = "hidden" id = "so" name = "so" value = "{{ so }}">
                </form>
                <select class="form-select">
                    <option value="Catid" {% if so == 'Catid' %}selected{% endif %}>최신순</option>
                    <option value="Catage" {% if so == 'Catage' %}selected{% endif %}>나이순</option>
                </select>-->
                <select onchange="location = this.value;">
                    <option selected="selected">{{sort}}</option>
                    <option value="?sort=latest">최신순</option>
                    <option value="?sort=like">좋아요순</option>
                </select>
            </div>



            <div class="col-md-5 p-2">
                <div class="ms-3" style="float: right;">
                    <form action = "http://52.79.227.191:8000/user/index" method="get">
                        <input type="text" name="region" value="{{region}}" style="display:none">
                        <button class="btn btn-outline-secondary" style="font-size: 20px">지역 변경</button>
                    </form>
                </div>

                <div style="float: right;">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #1b3f36; color: white; font-size: 20px;">
                    고양이 등록
                </button>
                </div>
            </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title ms-1" id="exampleModalLabel">고양이 등록하기&nbsp;<i class="fas fa-paw"></i></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {%for field in form%}
                                    <p class="form_newCat">
                                        <labl for="{{ field.id_for_label }}" style="display:none">{{ field.label }}</labl>
                                        {%if field.label == "사진"%}
                                        <labl>사진</labl>
                                        <input class="newCatInput ms-5" type="file" name="Catimage" accept="image/*" required="" id="id_Catimage" style="border: none;">
                                        {%endif%}
                                        {%if field.label == "이름"%}
                                        <labl>이름</labl>
                                        <input class="newCatInput ms-5" type="text" name="Catname" maxlength="64" required="" id="id_Catname">
                                        {%endif%}
                                        {%if field.label == "나이"%}
                                        <labl>나이</labl>
                                        <input class="newCatInput ms-5" type="number" name="Catage" required="" id="id_Catage">
                                        {%endif%}
                                        {%if field.label == "성별"%}
                                        <labl>성별</labl>
                                        <!--<select class="newcatInput" name="Gender" required="" id="id_Gender">
                                            <option value = "------" selected>------</option>
                                            <option value="수컷">수컷</option>
                                            <option value="암컷">암컷</option>
                                        </select>-->
                                        <!--                             <select class="ms-4" name="Gender" required="" id="id_Gender">-->
                                        <input class="ms-5 me-1" type="radio" name="Gender" value="수컷" id="male" required style="accent-color:darkseagreen;"><label for="male">수컷</label>
                                        <input class="ms-3 me-1" type="radio" name="Gender" value="암컷" id="female" required style="accent-color:darkseagreen;"><label for="female">암컷</label>
                                        <!-- <option value = "------" selected>------</option>
                                         <option value="수컷">수컷</option>
                                         <option value="암컷">암컷</option>
            </select>-->
                                        {%endif%}
                                        {%if field.label == "중성화"%}
                                        <labl>중성화</labl>
                                        <input class="me-1" type="radio" name="Neutering" required="" value="예" id="yes" style="margin-left: 33px; accent-color:darkseagreen;"><label for="yes">예</label>
                                        <input class="ms-3 me-1" type="radio" name="Neutering" required="" value="아니오" id="no" style="accent-color:darkseagreen;"><label for="no">아니오</label>
                                        <!--<select name="Neutering" required="" id="id_Neutering">
                                            <option value = "------" selected>------</option>
                                            <option value="예">예</option>
                                            <option value="아니오">아니오</option>
                                        </select>-->
                                        {%endif%}
                                        <!--<select class="ms-2" name="Neutering" required="" id="id_Neutering">
            <input class="ms-5 me-1" type="radio" name="Neutering" required="" value="예" id="id_Neutering">O
            <input class="ms-4 me-1" type="radio" name="Neutering" required="" value="아니오" id="id_Neutering">X
                                           <option value = "------" selected>------</option>
                                              <option value="예">예</option>
                                             <option value="아니오">아니오</option>
            </select>-->
                                        {%if field.label == "지역"%}
                                        <labl>지역</labl>
                                        <select class="ms-5" name="Region" required="" id="id_Region">
                                            <option value="------" selected = "selected">------</option>
                                            <option value="강동구">강동구</option>
                                            <option value="송파구">송파구</option>
                                            <option value="강남구">강남구</option>
                                            <option value="서초구">서초구</option>
                                            <option value="관악구">관악구</option>
                                            <option value="동작구">동작구</option>
                                            <option value="금천구">금천구</option>
                                            <option value="영등포구">영등포구</option>
                                            <option value="구로구">구로구</option>
                                            <option value="양천구">양천구</option>
                                            <option value="강서구">강서구</option>
                                            <option value="마포구">마포구</option>
                                            <option value="은평구">은평구</option>
                                            <option value="서대문구">서대문구</option>
                                            <option value="종로구">종로구</option>
                                            <option value="중구">중구</option>
                                            <option value="용산구">용산구</option>
                                            <option value="강북구">강북구</option>
                                            <option value="성북구">성북구</option>
                                            <option value="동대문구">동대문구</option>
                                            <option value="성동구">성동구</option>
                                            <option value="도봉구">도봉구</option>
                                            <option value="노원구">노원구</option>
                                            <option value="중랑구">중랑구</option>
                                            <option value="광진구">광진구</option>
                                        </select>
                                        {%endif%}
                                        {%if field.label == "설명"%}
                                        <labl class="align-top">설명</labl>
                                        <!--<textarea class="newCatInput ms-5" style="width: 300px; height: 90px;"></textarea>-->
                                        <!--<textarea name="Discribtion" cols="40" rows="10" required="" id="id_Discribtion"></textarea>-->
                                        <textarea name="Discribtion"class="newCatInput ms-5" style="width: 300px; height: 90px;" required="" id="id_Discribtion"></textarea>
                                        {%endif%}
                                    </p>
                                    {%endfor%}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn_newcat" id="btn_close" data-bs-dismiss="modal">취소</button>
                                    <button type="submit" class="btn_newcat"  id="btn_save" onClick='alert("고양이 등록이 완료되었습니다");'>등록하기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal -->







    </div>




    <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for i in posts %}
        <div class="col">
            <div class="card" style="box-shadow: 0px 0px 30px rgb(201, 199, 199);">
                <a href ="{%url 'cat' i.Catid%}" style="color: black;">
                <img class="img-fluid" src ="{{i.Catimage.url}}" style="height: 360px;">
                <div class="card-body">
                    <h4 class="card-title text-center my-2">{{i.Catname}}</h4>
                    <p class="text-end" id="count-{{i.Catid}}"><i class="fas fa-heart"></i> {{i.Like_user.all.count}}개</p>
                    <hr>
                    <p class="card-text text-center" style="color: #888888">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </a>
            </div>
        </div>
        {%endfor%}
    </div>

    <div class="row my-5">
        <div class="col d-flex justify-content-center">
            <div class="pagination">
                <p class="page">
                    {{ page }}
                    {% if posts.has_previous %}
                    <a href="?page=1">&laquo;</a>
                    <a href="?page={{ posts.previous_page_number}}">&lt;</a>
                    {% endif %}
                    {% for page in paginator_range %}
                    {% if posts.number == page %}
                    <a class="current_page"> {{ page }}</a>
                    {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">&gt;</a>
                    <a href="?page={{ posts.paginator.num_pages}}">&raquo;</a>
                    {% endif %}
                </p>
            </div>
        </div>

    </div>


</div>

{% endblock content %}

<!-- script -->

<!--{% block scripts %}
<script>
    $(".so").on('change', function(){
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#getForm").submit();
    });
</script>

{% endblock scripts %}-->