{% extends 'base2.html' %}

<!-- title -->
{% block title %}

{% endblock title %}

{% block content %}
{%for i in cat%}
<div class="container h-100 d-flex justify-content-center" style="font-family: 'Noto Sans KR', sans-serif; font-weight: 300;">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="padding: 60px;">
        <div>
        </div>
        <form action = "http://52.79.227.191:8000/user/index" method="get">
            <div class="text-center mt-5 mb-5" style="padding-top: 100px;">
                <span style="font-family: 'Black Han Sans', sans-serif; font-size: 45px">{{i.Region}}<i class="fas fa-cat"></i></span>
                <input type="text" name="region" value="{{i.Region}}" style="display:none">
                <button>지역 변경</button>
                <hr class="my-5">
            </div>
        </form>
        <div style="position: relative;">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-secondary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="position:absolute; bottom:0; right:0; border-radius: 30px;">
                고양이 등록
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title ms-1" id="exampleModalLabel">고양이 등록하기&nbsp;<i class="fas fa-paw"></i></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {%for field in form%}
                                <p class="form_newcat">
                                    <labl for="{{ field.id_for_label }}">{{ field.label }}</labl>
                                    {%if field.label == "사진"%}
                                    <input type="file" name="Catimage" accept="image/*" required="" id="id_Catimage">
                                    {%endif%}
                                    {%if field.label == "이름"%}
                                    <input class="newCatInput ms-4" type="text" name="Catname" maxlength="64" required="" id="id_Catname">
                                    {%endif%}
                                    {%if field.label == "나이"%}
                                    <input class="newCatInput ms-4" type="number" name="Catage" required="" id="id_Catage">
                                    {%endif%}
                                    {%if field.label == "성별"%}
                                    <!--                                <select class="ms-4" name="Gender" required="" id="id_Gender">-->
                                    <input class="ms-4 me-1" type="radio" name="Gender" value="수컷" required="" id="id_Gender">수컷
                                    <input class="ms-2 me-1" type="radio" name="Gender" value="암컷" required="" id="id_Gender">암컷
                                    <!--                                    <option value = "&#45;&#45;&#45;&#45;&#45;&#45;" selected>&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                                    <!--                                    <option value="수컷">수컷</option>-->
                                    <!--                                    <option value="암컷">암컷</option>-->
                                    </select>
                                    {%endif%}
                                    {%if field.label == "중성화"%}
                                    <!--                                <select class="ms-2" name="Neutering" required="" id="id_Neutering">-->
                                    <input class="ms-3 me-1" type="radio" name="Neutering" required="" value="예" id="id_Neutering">O
                                    <input class="ms-3 me-1" type="radio" name="Neutering" required="" value="아니오" id="id_Neutering">X
                                    <!--                                    <option value = "&#45;&#45;&#45;&#45;&#45;&#45;" selected>&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                                    <!--                                    <option value="예">예</option>-->
                                    <!--                                    <option value="아니오">아니오</option>-->
                                    </select>
                                    {%endif%}
                                    {%if field.label == "지역"%}
                                    <select class="ms-4" name="Region" required="" id="id_Region">
                                        <option value="------" selected = "selected">------</option>
                                        <option value="강동구">강동구</option>
                                        <option value="송파구">송파구</option>
                                        <option value="강남구">강남구</option>
                                        <option value="서초구">서초구</option>
                                        <option value="관악구">관악구</option>
                                        <option value="동작구">동작구</option>
                                        <option value="금천구">금천구</option>
                                        <option value="영등포구">영등포구</option>
                                        <option value="구로구">구로구</option>
                                        <option value="양천구">양천구</option>
                                        <option value="강서구">강서구</option>
                                        <option value="마포구">마포구</option>
                                        <option value="은평구">은평구</option>
                                        <option value="서대문구">서대문구</option>
                                        <option value="종로구">종로구</option>
                                        <option value="중구">중구</option>
                                        <option value="용산구">용산구</option>
                                        <option value="강북구">강북구</option>
                                        <option value="성북구">성북구</option>
                                        <option value="동대문구">동대문구</option>
                                        <option value="성동구">성동구</option>
                                        <option value="도봉구">도봉구</option>
                                        <option value="노원구">노원구</option>
                                        <option value="중랑구">중랑구</option>
                                        <option value="광진구">광진구</option>
                                    </select>
                                    {%endif%}
                                    {%if field.label == "설명"%}
                                    <input class="newCatInput ms-4" type="text">
                                    {%endif%}
                                </p>
                                {%endfor%}
                                <button id="btn_newcat" type="submit" onClick='alert("고양이 등록이 완료되었습니다");'>등록하기</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn_newcat" id="btn_close" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn_newcat"  id="btn_save" onClick='alert("고양이 등록이 완료되었습니다");'>등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid" src ="{{i.Catimage.url}}">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href ="{%url 'cat' i.Catid%}">{{i.Catname}}</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid" src ="{{i.Catimage.url}}">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href ="{%url 'cat' i.Catid%}">{{i.Catname}}</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid" src ="{{i.Catimage.url}}">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href ="{%url 'cat' i.Catid%}">{{i.Catname}}</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid" src ="{{i.Catimage.url}}">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href ="{%url 'cat' i.Catid%}">{{i.Catname}}</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid" src ="{{i.Catimage.url}}">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href ="{%url 'cat' i.Catid%}">{{i.Catname}}</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid" src ="{{i.Catimage.url}}">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href ="{%url 'cat' i.Catid%}">{{i.Catname}}</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
        <div class="col d-flex justify-content-center mt-5 mb-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">

        </div>
    </div>
</div>
{%endfor%}
{% endblock content %}

<!-- script -->
{% block scripts %}

{% endblock scripts %}