{% extends 'base.html' %}
{% block content %}
<img src ="{{i.Catimage.url}}" width="100px" height="100px">
이름:{{i.Catname}}
나이:{{i.Catage}}
중성화:{{i.Neutering}}
지역:{{i.Region}}
작성자:{{i.User.Username}}

<!-- 작성자가 본인 컨텐츠를 확인할경우 버튼 보이게 하기(프론트앤드 유효성)-->
{%if i.User.Userid == owner.Userid%}
<button type="button" onclick="location.href ='{%url 'catedit' i.Catid%}'">수정</button>
<button type="button" onclick="showConfirm()">삭제</button>
{%endif%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <!--<h5 class="mb-5">고양이 : {{ form.Catnum }}</h5>
                <h5>작성자 : {{ form.Usernum }}</h>
                    <h5>내용</h5>
                    {{ form.Content }}<br> -->
                {{form.as_p}}
                    <button type="submit">작성</button><br>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
        {% for comment in cat.board_set.all %}
            작성자 : {{ comment.Usernum.Nickname }} <br>
            댓글 : {{ comment.Content }} <br>
            <button type="button"><a href="">댓글삭제</a></button>
            <br>
        {% endfor %}
        </div>
    </div>
</div>
<script>
        function showConfirm(){
        if(confirm("정말로 고양이를 삭제하겠습니까?"))
    {
        alert("고양이를 삭제했습니다");
        window.location.href = '{%url "catdelete" i.Catid%}';
    }
    }
</script>

{% endblock content %}