{% extends 'base3.html' %}
{% load static %}

<!-- title -->
{% block title %}
Home
{% endblock title %}

{% block content %}
<style>
    #map_wrap {position:relative;width:100%;height:350px;}
    #title1 {font-weight:bold;display:block;color: black;font-size: 10px}
    #hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;margin-left: 5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;color: black;font-size: 10px}}
</style>
<div class="box" id="search" style="background-image:url('{% static 'index02.png' %}');">
    <div class="container" style="padding-top: 170px;">
        <div class="row align-items-center ms-lg-5">
            <form class="ms-lg-4" action = "{% url 'allcat' %}" method="get" style="display:inline-block;">
                <div class="offset-1 col-4 me-2" style="float: left;">
                    <select class="search-form form-select form-select-lg mb-3" style="border-radius: 30px;">
                        <option selected>서울특별시</option>
                    </select>
                </div>
                <div class="col-4 me-2" style="float: left;">
                    <select class="search-form form-select form-select-lg mb-3" style="border-radius: 30px;" id='region' name='region' onchange="ajax()" required>
                        <option value="강남구">강남구</option>
                        <option value="강동구">강동구</option>
                        <option value="강북구">강북구</option>
                        <option value="강서구">강서구</option>
                        <option value="관악구">관악구</option>
                        <option value="광진구">광진구</option>
                        <option value="구로구">구로구</option>
                        <option value="금천구">금천구</option>
                        <option value="노원구">노원구</option>
                        <option value="도봉구">도봉구</option>
                        <option value="동대문구">동대문구</option>
                        <option value="동작구">동작구</option>
                        <option value="마포구">마포구</option>
                        <option value="서대문구">서대문구</option>
                        <option value="서초구">서초구</option>
                        <option value="성동구">성동구</option>
                        <option value="성북구">성북구</option>
                        <option value="송파구">송파구</option>
                        <option value="양천구">양천구</option>
                        <option value="영등포구">영등포구</option>
                        <option value="용산구">용산구</option>
                        <option value="은평구">은평구</option>
                        <option value="종로구">종로구</option>
                        <option value="중구">중구</option>
                        <option value="중랑구">중랑구</option>
                    </select>
                </div>
                <div class="col-1 d-flex  ms-2" style="float: left;">
                    <button class="btn btn-primary mb-3 btn-lg align-middle" style="border-radius: 30px; background-color: #1b3f36; border: none;"><i class="fas fa-arrow-right"></i></button>
                </div>
            </form>
        </div>
        <div class="row align-items-center justify-content-center mt-3 px-3" style="margin-bottom: 100px;">
            <div id="map_wrap">
                <div id="map" class="col-10 shadow-lg" style="width:100%;height:350px;position:relative;overflow:hidden;border-radius: 20px;"></div>
                <div id="hAddr">
                    <span id="title1">접속한 ip의 위치</span>
                    <span id="centerAddr"></span>
                </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- script -->
{% block scripts %}
<script>
    var region = '{{region}}';
    if(region !== ''){
        document.getElementById("region").value = region;
    }
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=584931dffd2c5d22efb8759be2268b95&libraries=services"></script>
<script>
    function ajax() {
        var shows = document.getElementById('region').value
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.51778178257904 , 126.88627839579165), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(shows, function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px; padding: 6px 0; text-align:center; color: black;">우리 동네</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    }
</script>
<script>
    var shows = document.getElementById('region').value
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.51778178257904 , 126.88627839579165), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(shows, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px; padding-left: 6px 0; text-align:center; color: black;">우리 동네</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
{% endblock scripts %}


