{% extends 'base2.html' %}
{% load static %}

<!-- title -->
{% block title %}
Home
{% endblock title %}



{% block content %}
<div class="box" id="search" style="background-image:url('{% static 'bg-cat.jpg' %}');">
    <div class="container position-absolute top-50 start-50 translate-middle" >
        <div class="row align-items-center mx-3">
            <div class="col-5">
                <select class="search-form form-select form-select-lg mb-3" style="border-radius: 30px;">
                    <option selected>서울특별시</option>
                </select>
            </div>
            <div class="col-5">
                <select class="search-form form-select form-select-lg mb-3" style="border-radius: 30px;">
                    <option selected>강북구</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary mb-3 btn-lg;" style="border-radius: 30px; background-color: #1b3f36; border: none;"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


<!-- script -->
{% block scripts %}

{% endblock scripts %}


