{% extends 'base2.html' %}
{% load static %}

<!-- title -->
{% block title %}
Home
{% endblock title %}


{% block content %}
<div id="first" class="box" style="background-image: url({% static 'cat1.jpeg' %}); position: relative;">
    <div class="slog">
        <div class="container h-100 d-flex justify-content-center" style="position: absolute;">
            <div class="row my-auto">
                <div id="title" class="col-9 col-md-7 mx-4" style="font-size: 90px; color: black;">고양이를 담다<i class="fas fa-cat fs-1"></i></div>
                <div class="col-9 col-md-6 mx-4" style="font-size: 32px; color: rgb(129, 129, 129);">우리 동네 고양이 정보를 확인하고, <br> 길고양이를 내 마음에 담아보세요.</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


<!-- script -->
{% block scripts %}

{% endblock scripts %}


