{% extends 'base2.html' %}
{% load static %}

<!-- title -->
{% block title %}
회원정보
{% endblock title %}

<!-- script -->
{% block scripts %}

{% endblock scripts %}


{% block content %}
{% for user in login_member %}
<div class="box info_form">
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-8 offset-2 py-4" style="background-color: #fff; padding: 20px;">
                    <p class="signupTitle h4 fw-bold mb-3 d-flex justify-content-center" style="color:black;">회원정보</p>
                    <table class="table mb-4">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">아이디</td>
                            <td style="font-weight: 400;">
                                {{user.Userid}}</p>
                            </button>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">닉네임</td>
                            <td style="font-weight: 400;">
                                {{user.Nickname}}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">이름</td>
                            <td style="font-weight: 400;">{{user.Username}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">연락처</td>
                            <td style="font-weight: 400;">{{user.phonenumber}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">거주지역</td>
                            <td style="font-weight: 400;">{{user.Region}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-center">
                        <button type="button" class="info_btn me-2" id="change_pwd"><a href="http://52.79.227.191:8000/user/edit" target="_self" style="color: black;">개인정보 변경</a></button>
                        <button type="button" class="info_btn me-2" id="change_pwd"><a href="http://52.79.227.191:8000/user/password_edit" target="_self" style="color: black;">비밀번호 변경</a></button>
                        <button type="button" class="info_btn" id="delete_id" onClick=showConfirm()>회원탈퇴</button>
<!--                        <button class="btn me-2" id="cancel">비밀번호 변경</button>-->
<!--                        <button class="btn" id="join">회원탈퇴</button>-->
                    </div>
                </div>
            </div>
</div>
</div>
</div>
<script>
    function showConfirm(){
        if(confirm("정말로 회원 탈퇴 하시겠습니까?"))
        {
            alert("계정이 삭제 되었습니다");
            window.location.href = 'http://52.79.227.191:8000/user/delete_com';
        }
    }
</script>
{% endfor %}
{% endblock content %}


