{% extends 'base2.html' %}
{% load static %}

<!-- title -->
{% block title %}
비밀번호 변경
{% endblock title %}



{% block content %}

<div>
    <form name="form" action="http://52.79.227.191:8000/user/edit_com" method="POST">
        {% csrf_token %}
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-12 mb-5" style="text-align: center;">
                    {% for user in login_member %}
                    {{user.Username}}님의 현재 아이디 : {{ user.Userid }}
                    {% endfor %}
                </div>
                <div class="col-12 mb-5" style="text-align: center;">
                    <label for="nick">닉네임</label><br><br>
                    <input type="text" id="nick" name="nick" size="30"><br>
                </div>
                    <div class="col-12 mb-5" style="text-align: center;">
                        <label for="pw_update">연락처</label><br><br>
                        <input type="text" id="pw_update" name="phone" size="30">
                    </div>
                    <div class="col-12 mb-5" style="text-align: center;">
                        <select name='region' required>\n
                            <option value="강동구">강동구</option>
                            <option value="송파구">송파구</option>
                            <option value="강남구">강남구</option>
                            <option value="서초구">서초구</option>
                            <option value="관악구">관악구</option>
                            <option value="동작구">동작구</option>
                            <option value="금천구">금천구</option>
                            <option value="영등포구">영등포구</option>
                            <option value="구로구">구로구</option>
                            <option value="양천구">양천구</option>
                            <option value="강서구">강서구</option>
                            <option value="마포구">마포구</option>
                            <option value="은평구">은평구</option>
                            <option value="종로구">종로구</option>
                            <option value="중구">중구</option>
                            <option value="강북구">강북구</option>
                            <option value="성북구">성북구</option>
                            <option value="동대문구">동대문구</option>
                            <option value="성동구">성동구</option>
                            <option value="도봉구">도봉구</option>
                            <option value="노원구">노원구</option>
                            <option value="중랑구">중랑구</option>
                            <option value="광진구">광진구</option>
                        </select>
                    </div>
                <div class="col-12 mb-5" style="text-align: center;">
                    <button class="btn-l text-uppercase my-3" style="color: black; text-align: center;"><h5>변경</h5></button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
