{% extends 'base2.html' %}
{% load static %}

<!-- title -->
{% block title %}
회원정보 수정
{% endblock title %}

{% block content %}
<div class="box info_edit" style="padding-top: 190px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 infoEditTable">
                <form name="form" action="{% url 'edit_com' %}" method="post">
                    {% csrf_token %}
                    <table class="table">
                        <p class=" d-flex justify-content-center" style="color:black; font-size: 26px; font-weight: 500;">회원정보 수정</p>
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in login_member %}
                        <tr>
                            <td><span style="font-weight: 500;">{{user.Username}}</span>님 아이디</td>
                            <td style="font-weight: 400;">{{ user.Userid }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>닉네임</td>
                            <td>
                                <input type="text" class="editinput" id="nick" name="nick" size="30" required pattern="^[0-9a-zA-Z가-힣]+$" minlength="2" maxlength="6" value="{{user.Nickname}}">
                                <div id="nickval" style="color:red; display:none; font-size: 13.5px">특수문자를 제외한 2~6자를 입력해주세요.</div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>연락처</td>
                            <td>
                                <input type="text" class="editinput" id="phone" name="phone" size="30" required pattern="^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$" value="{{user.phonenumber}}">
                                <div id="phoneval" style="color:red; display:none; font-size: 13.5px">올바른 휴대폰 번호를 입력하세요. ( -없어도 무관 )</div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>거주 지역</td>
                            <td>
                                <select name='region' required>
                                    <option selected = "selected">{{user.Region}}</option>
                                    <option value="강동구">강동구</option>
                                    <option value="송파구">송파구</option>
                                    <option value="강남구">강남구</option>
                                    <option value="서초구">서초구</option>
                                    <option value="관악구">관악구</option>
                                    <option value="동작구">동작구</option>
                                    <option value="금천구">금천구</option>
                                    <option value="영등포구">영등포구</option>
                                    <option value="구로구">구로구</option>
                                    <option value="양천구">양천구</option>
                                    <option value="강서구">강서구</option>
                                    <option value="마포구">마포구</option>
                                    <option value="은평구">은평구</option>
                                    <option value="서대문구">서대문구</option>
                                    <option value="종로구">종로구</option>
                                    <option value="중구">중구</option>
                                    <option value="용산구">용산구</option>
                                    <option value="강북구">강북구</option>
                                    <option value="성북구">성북구</option>
                                    <option value="동대문구">동대문구</option>
                                    <option value="성동구">성동구</option>
                                    <option value="도봉구">도봉구</option>
                                    <option value="노원구">노원구</option>
                                    <option value="중랑구">중랑구</option>
                                    <option value="광진구">광진구</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row justify-content-center">
                        <button type="button" id="btn_infoEdit" onclick="update()">회원정보 수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    function update(){
        var form = document.form;
        //폼에대한 유효성 확인
        if(!form.checkValidity()){
            form.reportValidity();
            return false;
        }else{
            form.submit();
            return true;
        }
    }
    <!-- 닉네임 알림 메세지,중복체크 메세지 관리-->
    $("#nick").keyup(function() {
        if (!$('#nick')[0].validity.valid) {
            $('#nickval').show();
        } else {
            $('#nickval').hide();
        }
    });
    <!-- 전화번호 알림 메세지,중복체크 메세지 관리-->
    $("#phone").keyup(function() {
        if (!$('#phone')[0].validity.valid) {
            $('#phoneval').show();
        } else {
            $('#phoneval').hide();
        }
    });
</script>
{% endblock scripts %}
