{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
Main
{% endblock title %}


{% block content %}
<div id="first" class="box" style="background-image:url('{% static 'cat1.jpeg' %}');">
    <div class="">
        <div class="container h-100 d-flex justify-content-center" style="position: absolute;">
            <div class="row my-auto">
                <div id="title" class="col-9 col-md-7 mx-4" style="font-size: 90px; color: black;">고양이를 담다<i class="fas fa-cat fs-1"></i></div>
                <div class="slog col-7 col-md-6 mx-4" style="font-size: 32px; color: dimgrey">우리 동네 고양이 정보를 확인하고, <br> 길고양이를 내 마음에 담아보세요.</div>
                <div class="col-7 col-md-6 mx-4">
                    <button type="button" class="aboutusBtn btn btn-outline-secondary my-4">About us</button>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="box" style="background-image: url( '/static/cat2.jpeg' );">
    <div class="login container h-100 d-flex justify-content-center">
        <div class="row my-auto">
            <div style="width: 300px;">
                <form action="http://52.79.227.191:8000/user/logged" method="post">
                    {% csrf_token %}
                    <div class="input-group d-flex align-items-center justify-content-center">
                        <input class="form-control" type="text" id="member_id" name="id" placeholder="ID" required>
                    </div>
                    <div class="input-group d-flex align-items-center justify-content-center my-3">
                        <input class="form-control" type="password" id="member_pwd" name="pw" placeholder="Password" required>
                    </div>
                    <button type="submit" class="loginbtn btn btn-lg" style="width: 100%;">Login</button>
                    <p id="sign" class="text-center my-3" style="font-size: 16px;">Not a member? <a id="btnhover" href="./signup">Sign up now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- script -->
{% block scripts %}
{% if messages %}
<script>
    alert('{{ messages }}');
</script>
{% endif %}

<script type="text/javascript">
    window.onload = function () {
        var elm = ".box";
        $(elm).each(function (index) {
            // 개별적으로 Wheel 이벤트 적용
            $(this).on("mousewheel DOMMouseScroll", function (e) {
                e.preventDefault();
                var delta = 0;
                if (!event) event = window.event;
                if (event.wheelDelta) {
                    delta = event.wheelDelta / 120;
                    if (window.opera) delta = -delta;
                }
                else if (event.detail)
                    delta = -event.detail / 3;
                var moveTop = $(window).scrollTop();
                var elmSelecter = $(elm).eq(index);
                // 마우스휠을 위에서 아래로
                if (delta < 0) {
                    if ($(elmSelecter).next() != undefined) {
                        try{
                            moveTop = $(elmSelecter).next().offset().top;
                        }catch(e){}
                    }
                    // 마우스휠을 아래에서 위로
                } else {
                    if ($(elmSelecter).prev() != undefined) {
                        try{
                            moveTop = $(elmSelecter).prev().offset().top;
                        }catch(e){}
                    }
                }
                // 화면 이동 0.3초(300)
                $("html,body").stop().animate({
                    scrollTop: moveTop + 'px'
                }, {
                    duration: 300, complete: function () {
                    }
                });
            });
        });
    }
</script>
{% endblock scripts %}



