{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
비밀번호 변경 완료
{% endblock title %}

{% block content %}
<div class="container h-100 d-flex justify-content-center">
    <div class="row my-auto" id="com_row">
        <div class="text-center">
            <i class="fas fa-cat" id="com_icon"></i>
            <h4 class="fw-bold mt-4 pb-5" id="com_h4">비밀번호 변경 완료!</h4>
            <hr>
            <p class="mt-5" id="com_p">비밀번호 변경이 완료되었습니다.</p>
            <p class="pt-2 mb-5" id="com_p2">같이 고양이 보러 가실래요?&nbsp;<i class="fas fa-paw"></i></p>
            <button type="button" class="btn btn-lg" id="com_loginbtn"><a href="http://52.79.227.191:8000/user/login" target="_self" id="com_a">로그인</a></button>
        </div>
    </div>
</div>
{% endblock content %}

<!-- script -->
{% block scripts %}

{% endblock scripts %}