{% extends 'base2.html' %}
{% load static %}

<!-- title -->
{% block title %}
비밀번호 변경
{% endblock title %}


<!-- 서버와 비밀번호 불일치일 경우 알림메세지 활성화-->
{% block content %}
{% if messages %}
{% for message in messages %}
{%if message.tags %}
<script>alert("{{ message }}")
</script>
{%endif%}
{% endfor %}
{% endif %}

<div>
    <form name="form" action="http://52.79.227.191:8000/user/password_edit_com" method="POST">
        {% csrf_token %}
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-12 mb-5" style="text-align: center;">
                    {% for user in login_member %}
                    현재 아이디 : {{ user.Userid }}
                    {% endfor %}
                </div>
                <div class="col-12 mb-5" style="text-align: center;">
                    <label for="now_pw">현재 비밀번호</label><br><br>
                    <input type="password" id="now_pw" name="pw" size="30" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$"><br>
                </div>
                <div id = "pwvalidator">
                    <div class="col-12 mb-5" style="text-align: center;">
                        <label for="pw_update">새로운 비밀번호</label><br><br>
                        <input type="password" id="pw_update" name="new_pw" size="30" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$"><br>
                        <p style="font-size: 13px; display: block;">(영문/숫자 중 2가지 이상 조합, 6자 이상)</p>
                    </div>
                    <div class="col-12 mb-5" style="text-align: center;">
                        <input type="password" id="pwd" name="pwd" value="" size="30" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$"><br>
                        <div id="success" style="color:blue; display:none;">비밀번호가 일치합니다</div>
                        <div id="danger" style="color:red; display:none;">비밀번호가 일치하지 않아요</div>
                    </div>
                </div>
                <div class="col-12 mb-5" style="text-align: center;">
                    <button type="button" Onclick="change()" class="btn-l text-uppercase my-3" style="color: black; text-align: center;"><h5>변경</h5></button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

<!-- script -->
{% block scripts %}
<script>
    var pwc = false;
    <!-- 비밀번호 알림 메세지 및 일치하는지 확인-->
    $("#pwvalidator").keyup(function(){
        var pw = $("#pw_update").val();
        var pwd = $('#pwd').val();
        if(pw != '' || pwd != ""){
            if(pw == pwd){
                $('#success').show();
                $('#danger').hide();
                pwc = true;
            }else{
                $('#success').hide();
                $('#danger').show();
                pwc = false;
            }
        }
    });
    function change(){
        if(!form.checkValidity()) {
            form.reportValidity();
            return false;
        }else if(pwc == false){
            alert("비밀번호가 일치하는지 확인하세요")
        }else{
            form.submit();
            return true;
        }
    }
</script>
{% endblock scripts %}