{% extends 'base2.html' %}
{% load static %}

<!-- title -->
{% block title %}
비밀번호 변경
{% endblock title %}

<!-- 서버와 비밀번호 불일치일 경우 알림메세지 활성화-->
{% block content %}
{% if messages %}
{% for message in messages %}
{%if message.tags %}
<script>alert("{{ message }}")
</script>
{%endif%}
{% endfor %}
{% endif %}

<div class="box pwd_edit" style="padding-top: 190px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 pwdEditTable">
                <form name="form" action="http://52.79.227.191:8000/user/edit_com" method="post">
                    {% csrf_token %}
                    <table class="table">
                        <p class=" d-flex justify-content-center" style="color:black; font-size: 26px; font-weight: 500;">비밀번호 변경</p>
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for user in login_member %}
                            <td><span style="font-weight: 500;">{{user.Username}}</span>님 아이디</td>
                            <td style="font-weight: 400;">{{ user.Userid }}</td>
                            <td></td>
                            <td></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td>
                                <input class="editinput" type="password" id="now_pw" name="pw" placeholder="현재 비밀번호" size="30" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$"><br>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>새로운 비밀번호</td>
                            <td id = "pwvalidator">
                                <input type="password" class="editinput" id="pw_update" name="new_pw" placeholder="새로운 비밀번호" size="30" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$"><br>
                                <p style="font-size: 13px; display: block;">(영문/숫자 중 2가지 이상 조합, 6자 이상)</p>
                                <input type="password" class="editinput" id="pwd" name="pwd" value="" placeholder="새로운 비밀번호 확인" size="30" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$"><br>
                                <div id="success" style="color:mediumblue; display:none; font-size: 13.5px;">비밀번호가 일치합니다</div>
                                <div id="danger" style="color:red; display:none; font-size: 13.5px;">비밀번호가 일치하지 않아요</div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-center">
                        <button type="button" id="btn_pwdEdit" onclick="change()">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

<!-- script -->
{% block scripts %}
<script>
    var pwc = false;
    <!-- 비밀번호 알림 메세지 및 일치하는지 확인-->
    $("#pwvalidator").keyup(function(){
        var pw = $("#pw_update").val();
        var pwd = $('#pwd').val();
        if(pw != '' || pwd != ""){
            if(pw == pwd){
                $('#success').show();
                $('#danger').hide();
                pwc = true;
            }else{
                $('#success').hide();
                $('#danger').show();
                pwc = false;
            }
        }
    });
    function change(){
        if(!form.checkValidity()) {
            form.reportValidity();
            return false;
        }else if(pwc == false){
            alert("비밀번호가 일치하는지 확인하세요")
        }else{
            form.submit();
            return true;
        }
    }
</script>
{% endblock scripts %}