{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
회원가입
{% endblock title %}

{% block content %}
<div class="box signupForm" style="padding-top: 140px; margin-bottom: 150px;">
    <div class="container signupTable" style="max-width: 900px; min-width: 390px;">
        <form name="form" action="{% url 'signup_com' %}" method="post">
            {% csrf_token %}
                <table class="table">
                    <p class=" d-flex justify-content-center" style="color:black; font-size: 26px; font-weight: 500;">회원가입</p>
                    <thead>
                    <th colspan="2">회원 정보 입력</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="col">아이디</td>
                        <td scope="col">
                            <input class="signupinput" type="text" name="id" id="id" placeholder="아이디" onchange="idchange(this)" style="margin-bottom: 6px;" required
                                   pattern="^[a-zA-Z0-9!~@#$%^&*()_+-=\[\]{}<>:`?;'\\/,.&quot]+$" minlength="6"
                                   maxlength="12">
                            <button class="checked_id btn_sm ms-1" type="button" id="checked"
                                    onclick="duplicate()">중복확인</button>
                            <div id="none" style="color:mediumblue; display:none; font-size: 13.5px;">사용가능한 아이디 입니다.</div>
                            <div id="alex" style="color:red; display:none; font-size: 13.5px;">이미 사용중인 아이디 입니다.</div>
                            <div id="idval" style="color:red; display:none; font-size: 13.5px;">영문 대/소문자, 숫자, 특수문자를 이용해서 6~12자 이내여야 합니다.
                            </div>
                        </td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                    </tr>
                    <tr>
                        <td scope="row">비밀번호</td>
                        <td id="pwvalidator">
                            <input class="signupinput" type="password" name="pw" id="pw" value="" placeholder="비밀번호" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$">
                            <p style="font-size: 13px; display: block;">(영문/숫자 중 2가지 이상 조합, 6자 이상)</p>
                            <input class="signupinput" type="password" name="pwd" id="pwd" value="" placeholder="비밀번호 확인" style="margin-bottom: 6px;" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$">
                            <div id="success" style="color:mediumblue; display:none; font-size: 13.5px;">비밀번호가 일치합니다.</div>
                            <div id="danger" style="color:red; display:none; font-size: 13.5px;">비밀번호가 일치하지 않습니다.</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">닉네임</td>
                        <td>
                            <input class="signupinput" type="text" name="nick" id="nick" value="" placeholder="닉네임" style="margin-bottom: 6px;" required pattern="^[0-9a-zA-Z가-힣]+$" minlength="2" maxlength="6">
                            <div id="nickval" style="color:red; display:none; font-size: 13.5px">특수문자를 제외한 2~6자를 입력해주세요.</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">이름</td>
                        <td>
                            <input class="signupinput" type="text" name="name" id="name" value="" placeholder="이름" style="margin-bottom: 6px;" required pattern="^[가-힣]+$" minlength="2" maxlength="6">
                            <div id="nameval" style="color:red; display:none; font-size: 13.5px">올바른 한글 이름을 입력하세요.</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">연락처</td>
                        <td>
                            <input class="signupinput" type="text" name="phone" id="phone" value="" placeholder="휴대폰 번호" style="margin-bottom: 6px;" required pattern="^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$">
                            <div id="phoneval" style="color:red; display:none; font-size: 13.5px">올바른 휴대폰 번호를 입력하세요. ( -없어도 무관 )</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">거주지역</td>
                        <td>
                            <select name='region' required>
                                <option value="강남구" selected>강남구</option>
                                <option value="강동구">강동구</option>
                                <option value="강북구">강북구</option>
                                <option value="강서구">강서구</option>
                                <option value="관악구">관악구</option>
                                <option value="광진구">광진구</option>
                                <option value="구로구">구로구</option>
                                <option value="금천구">금천구</option>
                                <option value="노원구">노원구</option>
                                <option value="도봉구">도봉구</option>
                                <option value="동대문구">동대문구</option>
                                <option value="동작구">동작구</option>
                                <option value="마포구">마포구</option>
                                <option value="서대문구">서대문구</option>
                                <option value="서초구">서초구</option>
                                <option value="성동구">성동구</option>
                                <option value="성북구">성북구</option>
                                <option value="송파구">송파구</option>
                                <option value="양천구">양천구</option>
                                <option value="영등포구">영등포구</option>
                                <option value="용산구">용산구</option>
                                <option value="은평구">은평구</option>
                                <option value="종로구">종로구</option>
                                <option value="중구">중구</option>
                                <option value="중랑구">중랑구</option>
                        </select>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <button type="button" class="btnSignup me-2" id="cancel" onclick='window.location.href="{% url 'login' %}"'>취소</button>
                    <button class="btnSignup" id="join" type="button" onclick="check()">회원가입</button>
                </div>
        </form>
    </div>
</div>
{% endblock content %}

<!-- script -->
{% block scripts %}
<script>
    var checked;
    var pwc;
    checked = false;
    pwc = false;
    <!-- 아이디 textfield onchange -->
    function idchange(id){
        if(checked == true){
            checked = false;
        }
    }

    function check(){

        var form = document.form;
        //폼에대한 유효성 확인
        if(!form.checkValidity()){
            form.reportValidity();
            return false;
        }else if(checked == false || pwc == false) {
            oh();
            return false;
            //폼전송
        }else if(checked == true && pwc == true){
            form.submit();
            return true;
        }
    }
    function oh() {
        swal({
            title: "중복체크 또는 비밀번호가 일치하는지 확인하세요",
            type: "warning",
            confirmButtonText: "네",
        })
    }
    <!-- ajax로 이용한 아이디 체크-->
    function duplicate() {
        var id = $("#id").val();
        //id 유효성 checkvalidity jquery 버전 및 reportvalidity jquery
        if (!$('#id')[0].validity.valid) {
            $('#id')[0].reportValidity()
            return false;
        }else{
            $.ajax({
                    url: 'check_id',
                    data: {'id': id},
                    datatype: 'json',
                    success: function (data) {
                        if (data['duplicate'] == "fail") {
                            $('#none').hide();
                            $('#alex').show();
                            return false;
                        } else {
                            $('#none').show();
                            $('#alex').hide();
                            checked = true;
                            return true;
                        }
                    }
                }
            );
        }
    }
    <!-- 아이디 알림 메세지,중복체크 메세지 관리-->
    $("#id").keyup(function() {
        if ($('#none').show() || $('#alex').show()) {
            $('#none').hide();
            $('#alex').hide();
        }
        if (!$('#id')[0].validity.valid) {
            $('#idval').show();
        } else {
            $('#idval').hide();
        }
    });

    <!-- 비밀번호 알림 메세지 및 일치하는지 확인-->
    $("#pwvalidator").keyup(function(){
        var pw = $("#pw").val();
        var pwd = $('#pwd').val();
        if(pw != '' || pwd != ""){
            if(pw == pwd){
                $('#success').show();
                $('#danger').hide();
                pwc = true;
            }else{
                $('#success').hide();
                $('#danger').show();
                pwc = false;
            }
        }
    });
    <!-- 닉네임 알림 메세지,중복체크 메세지 관리-->
    $("#nick").keyup(function() {
        if (!$('#nick')[0].validity.valid) {
            $('#nickval').show();
        } else {
            $('#nickval').hide();
        }
    });
    <!-- 이름 알림 메세지,중복체크 메세지 관리-->
    $("#name").keyup(function() {
        if (!$('#name')[0].validity.valid) {
            $('#nameval').show();
        } else {
            $('#nameval').hide();
        }
    });
    <!-- 전화번호 알림 메세지,중복체크 메세지 관리-->
    $("#phone").keyup(function() {
        if (!$('#phone')[0].validity.valid) {
            $('#phoneval').show();
        } else {
            $('#phoneval').hide();
        }
    });


</script>
{% endblock scripts %}