{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
    <title>godam</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body style="background-color: rgb(245, 245, 245);">
<!-- nav -->
<nav class="navbar navbar-light mx-4 my-3" style="position: fixed; z-index: 1;">
    <div class="container-fluid">
        <a class="navbar-brand align-middle" href="http://52.79.227.191:8000/user/login#first">
            <i class="fs-1 fas fa-paw"></i>
            <span id="logo" class="" style="font-size: 35px;">고담</span>
        </a>
    </div>
</nav>
<!-- nav -->

<div class="box signupForm">
    <form name="form" action="http://52.79.227.191:8000/user/signup_com" method="post">
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-8 offset-2 py-4" style="background-color: #fff; padding: 20px;">
                    <p class="signupTitle h4 fw-bold mb-3 d-flex justify-content-center" style="color:black;">회원가입</p>
                    <table class="table mb-4">
                        <thead>
                        <tr>
                            <th scope="col">회원 정보 입력</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">아이디</td>
                            <td>
                                <input class="signupinput" type="text" name="id" id="id" onchange="idchange(this)" required pattern="^[a-zA-Z0-9!~@#$%^&*()_+-=\[\]{}<>:`?;'\\/,.&quot]+$" minlength="6" maxlength="12">
                                <div id="none" style="color:blue;display:none;">사용가능한 아이디 입니다</div>
                                <div id="alex" style="color:red;display:none;";>이미 사용중인 아이디 입니다</div>
                                <div id="idval" style="color:red;display:none;";>영문 대문자,소문자,숫자,특수문자를 이용해서 6~12자 이내여야합니다</div>
                                &nbsp;&nbsp;<button type="button" id="checked" onclick="duplicate()">
                                    <p style="font-size: 13px; display: inline;">중복확인</p>
                                  </button>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="pwvalidator">
                            <td scope="row">비밀번호</td>
                            <td>
                                <input class="signupinput" type="password" name="pw" id="pw" value="" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$">
                                <p style="font-size: 13px; display: inline;">&nbsp;&nbsp;(영문/숫자/특수문자 중 2가지 이상 조합, 8자 이상)</p>
                            </td>
                            <td scope="row">비밀번호 확인</td>
                            <td><input class="signupinput" type="password" name="pwd" id="pwd" value="" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$"></td>
                            <td id="success" style="color:blue; display:none;">비밀번호가 일치합니다</td>
                            <td id="danger" style="color:red; display:none;">비밀번호가 일치하지 않아요</td>
                        </tr>
                        <tr>
                            <td scope="row">닉네임</td>
                            <td><input class="signupinput" type="text" name="nick" id="nick" value="" required pattern="^[0-9a-zA-Z가-힣]+$" minlength="2" maxlength="6"></td>
                            <td id="nickval" style="color:red; display:none;">특수문자를 제외한 2~6자를 입력해주세요</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">이름</td>
                            <td><input class="signupinput" type="text" name="name" id="name" value="" required pattern="^[가-힣]+$" minlength="2" maxlength="6"></td>
                            <td id="nameval" style="color:red; display:none;">옳바른 한글이름을 입력하세요</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">휴대폰 번호</td>
                            <td><input class="signupinput" type="text" name="phone" id="phone" value="" required pattern="^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$"></td>
                            <td id="phoneval" style="color:red; display:none;">옳바른 휴대폰 번호를 입력하세요(-없어도 무관)</td>
                            <td></td>
                            <td></td>
                        </tr>


                        </tbody>
                    </table>
                    <div class="row justify-content-center">
                        <button class="btn me-2" id="cancel">취소</button>
                        <button class="btn" id="join" onclick="check()">회원가입</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var checked;
    var pwc;
    checked = false;
    pwc = false;
    <!-- 아이디 textfield onchange -->
    function idchange(id){
        if(checked == true){
            checked = false;
        }
    }

    function check(){

        var form = document.form;
        //폼에대한 유효성 확인
        if(!form.checkValidity()){
            form.reportValidity();
            return false;
        }else if(checked == false) {
            alert("중복체크 확인하세요");
            return false;
            //폼전송
        }else if(checked == true && pwc == true){
            form.submit();
            return true;
        }
    }
    <!-- ajax로 이용한 아이디 체크-->
    function duplicate() {
        var id = $("#id").val();
        //id 유효성 checkvalidity jquery 버전 및 reportvalidity jquery
        if (!$('#id')[0].validity.valid) {
            $('#id')[0].reportValidity()
            return false;
        }else{
            $.ajax({
                    url: 'check_id',
                    data: {'id': id},
                    datatype: 'json',
                    success: function (data) {
                        if (data['duplicate'] == "fail") {
                            $('#none').hide();
                            $('#alex').show();
                            return false;
                        } else {
                            $('#none').show();
                            $('#alex').hide();
                            checked = true;
                            return true;
                        }
                    }
                }
            );
        }
    }
    <!-- 아이디 알림 메세지,중복체크 메세지 관리-->
    $("#id").keyup(function() {
        if ($('#none').show() || $('#alex').show()) {
            $('#none').hide();
            $('#alex').hide();
        }
        if (!$('#id')[0].validity.valid) {
            $('#idval').show();
        } else {
            $('#idval').hide();
        }
    });

    <!-- 비밀번호 알림 메세지 및 일치하는지 확인-->
    $("#pwvalidator").keyup(function(){
        var pw = $("#pw").val();
        var pwd = $('#pwd').val();
        if(pw != '' || pwd != ""){
            if(pw == pwd){
                $('#success').show();
                $('#danger').hide();
                pwc = true;
            }else{
                $('#success').hide();
                $('#danger').show();
                pwc = false;
            }
        }
    });
    <!-- 닉네임 알림 메세지,중복체크 메세지 관리-->
    $("#nick").keyup(function() {
        if (!$('#nick')[0].validity.valid) {
            $('#nickval').show();
        } else {
            $('#nickval').hide();
        }
    });
    <!-- 이름 알림 메세지,중복체크 메세지 관리-->
    $("#name").keyup(function() {
        if (!$('#name')[0].validity.valid) {
            $('#nameval').show();
        } else {
            $('#nameval').hide();
        }
    });
    <!-- 전화번호 알림 메세지,중복체크 메세지 관리-->
    $("#phone").keyup(function() {
        if (!$('#phone')[0].validity.valid) {
            $('#phoneval').show();
        } else {
            $('#phoneval').hide();
        }
    });


</script>
<!--비밀번호 체크 -->
<!--<script>
    function pwdChk() {
        var pw = document.getElementById('pw');
        var check = document.getElementById('pwd');
        if(check.value == pw.value) {
            alert('비밀번호가 일치합니다');
            return true;
        }
        else {
            alert('비밀번호가 다릅니다');
            return false;
        }
    }
</script>-->
</body>
</html>