html,body {
    margin:0; padding:0; width:100%; height:100%;
    background-color: rgb(245, 245, 245);
}

.box {
    width:100%;
    height:100%;
    position:relative;
    color:#fff;
    font-size:24pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(245, 245, 245);
}

#search{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

#logo {
    font-family: 'Black Han Sans', sans-serif;
}

#title {
    font-family: 'Black Han Sans', sans-serif;
}

#sign {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.login input[type=text] {
    background: transparent;
    border: 1px solid rgba(255,255,255);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.login input[type=password] {
    background: transparent;
    border: 1px solid rgba(255,255,255);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.loginbtn {
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.loginbtn:hover {
    opacity: 0.8;
}

.loginbtn:active {
    opacity: 0.6;
}

#member_id::placeholder {
    color: whitesmoke;
}
#member_pwd::placeholder {
    color: whitesmoke;
}

a:link {
    text-decoration: none;
}

a#btnhover {
    color:darkseagreen;
}

a#btnhover:hover {
    color: yellowgreen;
}

.slog {
    z-index: 1;
    font-family: 'Gamja Flower', sans-serif;
    font-weight: 300;
}

#aboutus_img {
    width: 500px;
    height: 240px;
}

@media (min-width:800px) and (max-width:1610px) {
    #aboutus_img {
        width: 450px;
        height: 200px;
    }
}

@media (min-width:480px) and (max-width:800px) {
    #aboutus_img {
        width: 290px;
        height: 170px;
    }
}
/*------회원가입 페이지 signup.html------*/
.signupForm {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.signupTable {
    box-shadow: 0px 0px 30px rgb(201, 199, 199);
    border-radius: 10px;
    padding:25px;
    background-color: rgb(252,252,252);
}

tr {
    font-size: 16px;
    color: black;
}

tbody .signupinput,
tbody .editinput {
    font-size: 15px;
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 5px;
}

tbody select {
    border: 1px solid rgba(128, 128, 128, 0.473);
    padding: 2px;
    font-size: 15px;
}

tbody .signupinput:focus,
tbody select:focus,
tbody .editinput:focus {
    outline: 1px solid lightsteelblue;
}

#checked {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #285e4f;
    color: #fff;
    font-size: 13px;
    display: inline;
}

#checked:hover {
    border-radius: 2px;
    border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff;
    font-weight: 500;
}

.btnSignup {
    border-radius: 3px;
    width: 130px;
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#cancel {
    border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff;
}

#cancel:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.6;
}

#join {
    border: none;
    background-color: #1b3f36;
    color: #fff;
}

#join:hover {
    /* border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff; */
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.8;
}

/*------info 페이지------*/
.info_form {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.infoTable {
    box-shadow: 0px 0px 30px rgb(201, 199, 199);
    border-radius: 10px;
    background-color: rgb(252,252,252);
    padding: 40px;
}

.infoTable tbody td {
    padding: 15px;
}

.info_btn {
    border-radius: 3px;
    width: 130px;
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#change_userinfo {
    border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff;
}

#change_userinfo:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.6;
}

#change_pwd {
    border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff;
}

#change_pwd:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.6;
}

#delete_id {
    border: none;
    background-color: #1b3f36;
    color: #fff;
}

#delete_id:hover {
    /* border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff; */
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.8;
}

/*------회원정보변경 페이지 info_edit.html------*/
.info_edit,
.pwd_edit {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.infoEditTable,
.pwdEditTable {
    box-shadow: 0px 0px 30px rgb(201, 199, 199);
    border-radius: 10px;
    background-color: rgb(252,252,252);
    padding: 40px;
}

.infoEditTable tbody td {
    padding: 9px;
}

.pwdEditTable tbody td {
    padding: 9px;
}

#btn_infoEdit,
#btn_pwdEdit {
    width: 130px;
    height: 45px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    background-color: #1b3f36;
    color: #fff;
}

#btn_infoEdit:hover,
#btn_pwdEdit:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.8;
}

/*------회원가입완료 페이지 signup_com.html------*/
#com_row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans KR', sans-serif;
}

#com_icon {
    font-size: 60px;
}

#com_h4 {
    font-size: 40px;
    /*width: 900px;*/
}

#com_p {
    font-size: 38px;
    color: gray;
    font-family: 'Gamja Flower', sans-serif;
}

#com_p2 {
    font-size: 26.5px;
    color: gray;
    font-family: 'Gamja Flower', sans-serif;
}

#com_loginbtn {
    width: 300px;
    border: none;
    background-color: #1b3f36;
    color: #fff;
    font-size: 20px;
}

#com_loginbtn:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.8;
}

#com_a {
    color:whitesmoke;
}

/*어바웃어스 버튼*/
.aboutusBtn{
    width: 250px;
    border-radius: 30px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.aboutusBtn:hover {
    background-color: #1b3f36;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.search-form{
    background-color: rgba(255, 255, 255, 0.51);
    border: none;
}