html,body{ margin:0; padding:0; width:100%; height:100%;}
.box{ width:100%; height:100%; position:relative; color:#ffffff; font-size:24pt;background-position: center;
background-repeat: no-repeat;
background-size: cover;}


#logo{font-family: 'Black Han Sans', sans-serif;}
#title{font-family: 'Black Han Sans', sans-serif;}

#sign{font-family: 'Noto Sans KR', sans-serif;
font-weight: 300;}

.signupForm{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.login input[type=text]{
background: transparent;
border: 1px solid rgba(255,255,255);
border-radius: 5px;
color: #fff;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

.login input[type=password]{
    background: transparent;
    border: 1px solid rgba(255,255,255);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}



.loginbtn{
background: #fff;
border: 1px solid #fff;
cursor: pointer;
border-radius: 2px;
color: #a18d6c;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

.loginbtn:hover{
    opacity: 0.8;
}

.loginbtn:active{
    opacity: 0.6;
}


#member_id::placeholder{
    color: whitesmoke;
}
#member_pwd::placeholder{
    color: whitesmoke;
}

a:link{
    text-decoration: none;
}

a#btnhover:hover{
    color: whitesmoke;
}

.slog{
    position: z-index: 1;
    font-family: 'Gamja Flower', sans-serif;
    font-weight: 300;
}

.col-8 {
    box-shadow: 0px 0px 30px rgb(201, 199, 199);
    border-radius: 10px;

}

tr {
    font-size: 16px;
    color: black;
}

signupTitle {
    font-size: 13px;
    display: inline;
}

.signupinput {
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 5px;
}

#btn_id {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #285e4f;
    color: #fff;
}

#btn_id:hover {
    border-radius: 2px;
    border: 1.5px solid #1b3f36;
    color: #1b3f36;
    background-color: rgb(245, 247, 245);
}

.btn {
    width: 115px;
    height: 45px;
}


#cancel {
    border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff;
}

#cancel:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.6;
}


#join {
    border: none;
    background-color: #1b3f36;
    color: #fff;
}

#join:hover {
    /* border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff; */
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.8;
}

/*info 페이지*/

.info_btn {
    border-radius: 3px;
    width: 130px;
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#change_pwd {
    border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff;
}

#change_pwd:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.6;
}

#delete_id {
    border: none;
    background-color: #1b3f36;
    color: #fff;
}

#delete_id:hover {
    /* border: 1px solid #1b3f36;
    color: #1b3f36;
    background-color: #fff; */
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.8;
}

.info_form{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}
/*-----회원가입완료 페이지 signup_com.html---------------------------------------*/
#com_row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans KR', sans-serif;
}

#com_icon {
    font-size: 60px;
}

#com_h4 {
    font-size: 40px;
    /*width: 900px;*/
}

#com_p {
    font-size: 38px;
    color: gray;
    font-family: 'Gamja Flower', sans-serif;
}

#com_p2 {
    font-size: 26.5px;
    color: gray;
    font-family: 'Gamja Flower', sans-serif;
}

.com_hr{

}

#com_loginbtn {
    width: 300px;
    border: none;
    background-color: #1b3f36;
    color: #fff;
    font-size: 20px;
}

#com_loginbtn:hover {
    border: none;
    background-color: #1b3f36;
    color: #fff;
    opacity: 0.8;
}

#com_a {
    color:whitesmoke;
}